a {
  color: black;
  text-decoration: none;
  text-anchor: none;
}

.div_ref {
  color: black;
  @media screen and (min-width: 1000px) {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
  }
  @media screen and (max-width: 576px) {
    font-size: 0.75rem;
  }
}

.DropMenu {
  position: absolute;
  top: 60px;
  @media screen and (min-width: 1000px) {
    top: 60px;
    width: 250px;
  }
  @media screen and (max-width: 1000px) and (min-width: 483px) {
    top: 115px;
    width: 40vw;
  }

  @media screen and (max-width: 483px) {
    top: 145px;
    width: 40vw;
    transform: translateX(-8%);
  }
  background-color: white;
  border: 1px solid #a5a5a5;
  border-radius: 8px;
  transform: translateX(-20%);
  overflow: hidden;
  z-index: 999;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.menu-item {
  padding: 1rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  height: 50px;
}
.menu-item:hover {
  background-color: #a5a5a5;
}

.icon-button svg {
  width: 20px;
  height: 20px;
  padding: 0.5rem;
  padding-right: 1rem;
}

.div_ref {
  cursor: pointer;
}
