.products_container_with_grid {
  display: flex;
  gap: 1em;
  overflow: hidden;
  p,
  span {
    color: white;
    mix-blend-mode: difference;
  }

  @media (min-width: 1366px) {
    max-height: 671px;
    margin: 5rem 1em 2rem 1em;
  }
  @media (max-width: 1366px) and (min-width: 600px) {
    flex-direction: column;
    margin: 5rem 1em 0 1em;
    max-height: 1400px;
  }
  @media (max-width: 600px) and (min-width: 450px) {
    flex-direction: column;
    margin: 5rem 1em 0 1em;
    max-height: 1000px;
  }
  @media screen and(max-width: 450px) {
    flex-direction: column;
    margin: 5rem 1em 0 1em;
    max-height: 800px;
  }
}
.products_container_with_grid > * {
  flex-basis: 100%;
}

//LEFT CONTAINER

.big_products {
  @media (min-width: 1366px) {
  }
  @media (max-width: 1366px) {
  }

  position: relative;
  overflow: hidden;
  max-width: 671px;
  border-radius: 15px;

  button {
    position: relative;
    left: 42%;
    transition: all 0.5s;
    opacity: 0;
  }

  &:hover {
    button {
      position: relative;
      transform: translateY(-6rem);
      left: 42%;
      opacity: 1;
      &:nth-child(2) {
        transition-delay: 0.5s;
      }
    }
  }
  span {
    text-align: center;
    font-size: 1.5rem;
    position: absolute;
    top: 15%;
    left: 15%;
    opacity: 0;
    transition: all 0.5s;

    width: 70%;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &:hover {
    span {
      opacity: 1;
    }
  }
}

.image_big_product {
  @media (min-width: 1366px) {
    width: 100%;
    height: 100%;
  }
  @media (max-width: 1366px) {
    width: 100%;
    position: relative;
    &:after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
  }

  transition: all 0.5s;

  img {
    @media (min-width: 1366px) {
    }
    @media (max-width: 1366px) {
      position: absolute;
    }

    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
  }

  &:hover {
    transform: scale(1.05);
  }
}

//right CONTAINER

.products_grid {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  max-width: 671px;
}

.products_grid > * {
  flex: 1 1 46%;
}

.image_products_grid {
  position: relative;
  height: 49%;
  overflow: hidden;
  border-radius: 15px;
  border-radius: 15px;

  span {
    text-align: center;
    font-size: 1.5rem;
    position: absolute;
    top: 15%;
    left: 15%;
    opacity: 0;
    transition: all 0.5s;
    width: 70%;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &:hover {
    span {
      opacity: 1;
    }
  }
}

.image_products_grid {
  @media (min-width: 1366px) {
  }
  @media (max-width: 1366px) {
    width: 90vw;
    position: relative;
    &:after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
  }
  img {
    @media (max-width: 1366px) {
      position: absolute;
    }

    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s;
    overflow: hidden;

    &:hover {
      transform: scale(1.05);
    }
  }
  button {
    @media (min-width: 1366px) {
      left: 33%;
    }
    @media (max-width: 1366px) {
      top: 400px;
      left: 100px;
    }
    position: relative;

    transition: all 0.5s;
    opacity: 0;
  }

  &:hover {
    button {
      @media (min-width: 1366px) {
        left: 33%;
        transform: translateY(-5rem);
      }
      @media (max-width: 1366px) {
        top: 315px;
        left: 100px;
      }
      position: relative;

      opacity: 1;
    }
  }
}

.btn_add_to_cart_home {
  border: 0;
  background: black;
  color: white;
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 0.5rem;

  &:hover {
    background: rgb(29, 29, 29);
  }
}
