.background_navbar {
  background-color: #131a22;
}

.navbar_container {
  display: flex;
  align-items: center;
  height: 80px;
  font-weight: 700;
  width: 80%;
  margin: auto;
}

.navbar_leftSide {
  flex-grow: 50;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Logo_navbar {
  flex: 20%;
  display: flex;
  justify-content: center;
}

.search_bar {
  display: flex;
  flex: 53%;
  align-items: center;
  justify-content: flex-start;
}

.navbar_rightSide {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.navbar_rightSide > a,
.navbar_rightSide > div > div > p {
  padding: 1rem 2rem;
}

.navbar_rightSide:last-child {
  margin-right: 5px;
}

.myshop_logo {
  text-align: center;
  flex-grow: 1;
}

.text-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: inherit;
  margin-left: 5px;
  border-radius: 5px;
  border: 2px solid #131a22;
}

@media (min-width: 600px) {
  .text-link {
  }
}

.text-link:hover {
  color: grey;
  border: 2px solid grey;
}

.button_search {
  padding: 7px;
  margin-left: 2px;
  border: none;
  background: white;
  font-size: 20px;
  cursor: pointer;
}
.button_search:active {
  background: grey;
  border: none;
}

.button_search {
  border-radius: 5px;
  background: linear-gradient(to right, #191654, #43c6ac);
  background: -webkit-linear-gradient(to right, #191654, #43c6ac);
  color: white;
  font-size: 15px;
  background-size: 200%;
  background-position: left;
}

.button_search:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-image: linear-gradient(to right, #191654, #43c6ac);
  background-position: right;
  animation: bg-animation 1.5s;
}
