.background_navbar {
  background-color: #292929;
  border-bottom: 1px solid rgb(59, 59, 59);
  box-shadow: 0 3px 8px rgb(0 0 0 / 24%);
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.navbar_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
}

@media (min-width: 1000px) {
  .navbar_container {
    height: 80px;
  }
  .search_bar {
    flex: 30%;
    max-width: 30%;
    min-width: 350px;
  }
  .navbar_leftSide {
    min-width: 150px;
    flex: 20%;
    max-width: 20%;
  }
  .navbar_rightSide {
    flex: 20%;
    max-width: 20%;
  }
  .navbar_rightSide > a,
  .navbar_rightSide > div > div > p {
    padding: 1rem;
    min-width: 50px;
  }
  .logo {
    height: 70px;
    width: auto;
  }
}

@media (min-width: 700px) and (max-width: 1000px) {
  .navbar_container {
    height: 80px;
  }
  .search_bar {
    flex: 20%;
    max-width: 20%;
    min-width: 250px;
  }
  .navbar_leftSide {
    flex: 5%;
    max-width: 5%;
  }

  .navbar_rightSide {
    margin-right: 8%;
    flex: 20%;
    max-width: 20%;
  }
  .navbar_rightSide > a,
  .navbar_rightSide > div > div > p {
    padding: 1rem;
    min-width: 50px;
  }
  .logo {
    height: 70px;
    width: auto;
    margin-left: 2rem;
  }
}

@media (max-width: 700px) {
  .search_bar {
    flex: 100%;
    min-width: 100%;
    align-self: flex-end;
    order: 3;
    padding-bottom: 1.25rem;
  }
  .navbar_leftSide {
    padding-top: 0.5rem;
    order: 1;
    padding-left: 1rem;
    max-width: 50px;
    align-self: flex-start;
  }

  .navbar_rightSide {
    order: 2;
    padding-top: 0.5rem;
    min-width: 40%;
    align-self: flex-start;
  }
  .navbar_rightSide > a,
  .navbar_rightSide > div > div > p {
    padding: 0.5rem;
    min-width: 25px;
  }
  .text-link {
    font-size: 15px;
  }
  .logo {
    height: 40px;
    width: auto;
  }
}

@media (min-width: 318px) and (max-width: 700px) {
  .navbar_container {
    height: 120px;
  }
}

@media (max-width: 318px) {
  .navbar_container {
    height: 160px;
  }
}

.navbar_leftSide {
  display: flex;
  justify-content: center;
}

.search_bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navbar_rightSide {
  display: flex;
  justify-content: space-evenly;
}

.text-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: inherit;
  border-radius: 5px;
  border: 2px solid #292929;
  text-align: center;
}

.text-link:hover {
  color: grey;
  border: 2px solid grey;
}

/* buttons Style */
.button_search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin-left: 2px;
  border: none;
  background: white;
  font-size: 20px;
  cursor: pointer;
}
.button_search:active {
  background: grey;
  border: none;
}

.button_search {
  border-radius: 5px;
  background: linear-gradient(to right, #191654, #43c6ac);
  background: -webkit-linear-gradient(to right, #191654, #43c6ac);
  color: white;
  font-size: 15px;
  background-size: 200%;
  background-position: left;
}

.button_search:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-image: linear-gradient(to right, #191654, #43c6ac);
  background-position: right;
  animation: bg-animation 1.5s;
}
