.background_navbar {
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.navbar_container {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  width: 90%;
  margin: auto;
  @media screen and (max-width: 1000px) and (min-width: 576px) {
    flex-wrap: wrap;
    height: 130px;
  }

  @media screen and (max-width: 576px) and (min-width: 483px) {
    flex-wrap: wrap;
    height: 130px;
  }
  @media screen and (max-width: 483px) {
    flex-wrap: wrap;
    height: 160px;
  }
}

.navbar_leftSide {
  display: flex;
  justify-content: center;

  @media screen and (min-width: 1000px) {
    flex: 1 1 25%;
  }
  @media screen and (max-width: 1000px) {
    flex: 1 1 15%;
  }
}

.search_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 40%;
  min-width: 300px;
}

.navbar_rightSide {
  display: flex;

  @media screen and (min-width: 1000px) {
    flex: 1 1 35%;
    justify-content: flex-end;
  }
  @media screen and (max-width: 1000px) {
    flex: 1 1 45%;
    justify-content: space-evenly;
  }
}
.navbar_rightSide > a,
.navbar_rightSide > div > div > p {
  @media screen and (min-width: 1000px) {
    min-width: 50px;
    padding: 1rem;
  }
  @media screen and (max-width: 1000px) {
    padding: 0.5rem 1rem;
  }
}

.text-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  text-decoration: inherit;
  border-radius: 5px;
  border: 2px solid white;
  text-align: center;
  margin-left: 0.1rem;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0;
  @media screen and (max-width: 500px) {
    font-size: 0.75rem;
  }

  span {
    margin-left: 0.5rem;
    color: black;
  }
  svg {
    color: black;
  }
}

.text-link:hover {
  border: 2px solid grey;
}

/* buttons Style */
.button_search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin-left: 2px;
  border: none;
  background: white;
  font-size: 1.25rem;
  cursor: pointer;
}
.button_search:active {
  background: grey;
  border: none;
}

.button_search {
  border-radius: 5px;
  background: black;
  color: white;
  font-size: 1rem;
  background-size: 200%;
  background-position: left;
}
.logo {
  height: 70px;
  width: auto;
  margin-right: 2rem;
  @media screen and (max-width: 1000px) {
    margin-right: 1rem;
  }
}
