.product_card_list_container {
  display: flex;
  padding: 2rem 0;
  border-bottom: 1px solid #cacaca;
  @media screen and (max-width: 700px) {
    flex-direction: column;
  }
  a {
    color: black;
    padding: 0 1rem;
  }
  .image_product_card_list {
    flex: 1 1 30%;
    img {
      width: 100%;
    }
  }
  .content_product_card_list {
    flex: 1 1 70%;
    @media screen and (max-width: 700px) {
      padding: 1rem;
    }
  }
  span {
    color: #388396;
  }
}

.product_card_list_container:last-child {
  border-bottom: 0;
}
.product_card_list_container:first-child {
  padding: 0 0 2rem 0;
}
