@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Bebas Neue', cursive;
  font-weight: 600;
  letter-spacing: 0.1em;
}
p {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0;
}

body {
  /* font-family: 'Montserrat', sans-serif; */

  background: white;
}

button:focus,
button:active {
  outline: none;
}

.footer {
  bottom: 0;
  position: relative;
  z-index: 999;
  background-color: #292929;
}
@media (min-width: 700px) {
  .body_content_padding_top {
    padding-top: 80px;
  }
}
@media (max-width: 700px) {
  .body_content_padding_top {
    padding-top: 120px;
  }
}
