.products_page_Container {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  min-width: 320px;
}

.products_page_Container > h1 {
  margin-bottom: 15px;
}

@media (min-width: 851px) {
  .small_table_products {
    display: none;
  }
}

@media (max-width: 850px) {
  .large_table_products {
    display: none;
  }
  .small_table_products {
    margin: 1rem 0;
  }
}

.admin_products_delete_btn {
  padding: 15px;
  border: none;
  border-radius: 5px;
  background: #ed213a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #93291e,
    #ed213a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #93291e,
    #ed213a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  font-size: 15px;
  cursor: pointer;
  background-size: 200%;
  background-position: left;
}

.admin_products_delete_btn:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  background-position: right;
  animation: bg-animation 1.5s;
}

.admin_products_edit_btn {
  padding: 15px;
  border: none;
  border-radius: 5px;
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #414345,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  font-size: 15px;
  cursor: pointer;
  background-size: 200%;
  background-position: left;
}

.admin_products_edit_btn:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  background-position: right;
  animation: bg-animation 1.5s;
}

.admin_add_products_btn {
  display: flex;
  align-items: center;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, #191654, #43c6ac);
  background: -webkit-linear-gradient(to right, #191654, #43c6ac);
  color: white;
  font-size: 15px;
  cursor: pointer;
  background-size: 200%;
  background-position: left;
}

.admin_add_products_btn:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-image: linear-gradient(to right, #191654, #43c6ac);
  background-position: right;
  animation: bg-animation 1.5s;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.products_page_Container {
  display: flex;
  flex-direction: column;
}

.title_button_products_admin {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 500px) {
    h1 {
      font-size: 1.5rem;
    }
  }
}

.image_table_products {
  width: auto;
  height: 75px;
}
