.update_product_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: auto;
  margin-top: 50px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
  padding: 25px;
}

@media (min-width: 500px) {
  .update_product_container {
    width: 400px;
  }
}
@media (max-width: 500px) {
  .update_product_container {
    width: 300px;
  }
}

.input_update_product_container {
  padding: 12px 0;
}

.form_profile_container {
  width: 100%;
}

.custom-file-input::-webkit-file-upload-button {
  display: none;
}
.custom-file-input {
  width: 100%;
}
.custom-file-input::before {
  content: 'Upload image';
  display: inline-block;
  background: black;
  margin: 5px 5px 0 0;

  font-size: 13px;
  padding: 0.5rem;
  outline: none;
  font-weight: 600;
  cursor: pointer;
  color: white;
  background-size: 200%;
  background-position: left;
}
.custom-file-input:active {
  border: none;
  outline: none;
}
.custom-file-input:focus {
  border: none;
  outline: none;
}

.custom-file-input:hover::before {
  border: none;
}
.custom-file-input:active::before {
  border: none;
  outline: none;
}

.buttons_container_create_profile {
  display: flex;
  justify-content: space-between;
}
