.item-enter {
  opacity: 0;
  transform: translateX(-110%);
}
.item-enter-active {
  opacity: 1;
  transition: all 500ms;
  transform: translateX(0);
}
.item-exit {
  opacity: 1;
  transform: translateX(0);
}
.item-exit-active {
  opacity: 0;
  transition: all 500ms;
  transform: translateX(110%);
}
