/* .h1-carousel {
  font-size: 2.5rem;
  text-align: center;
  width: fit-content;
  margin: auto;
  padding: 20px 0 5px 0;
  margin-bottom: 3rem;
  border-bottom: 1px solid;
}
.swiper-wrapper {
  width: 60vw;
  background: white;
  margin: auto;
}
.swiper-container {
  position: relative;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  margin: auto;
  box-shadow: 0px 0px 15px -10px #000000;
  overflow: hidden;
  background: white;
  margin-bottom: 1rem;
}
.swiper-slide {
  display: flex;
  width: 300px;
  height: 100%;
}
.image_carousel {
  position: relative;
  right: 8rem;
  object-fit: cover;
  width: 25vw;
  height: 50%;
  transition: all 0.5s;
  background: black;
}
.image_carousel:hover {
  opacity: 0.8;
  transform: scale(1.25);
}
.carousel_info {
  position: relative;
  font-size: 1.5rem;
}
.carousel_wrapper {
  z-index: 1;
}
.MuiSvgIcon-root {
  height: 2rem;
  width: 2rem;
}
.prev {
  position: absolute;
  z-index: 999;
  height: 2rem;
  width: 2rem;
}
.next {
  position: absolute;
  z-index: 999;
  right: 0;
}
 */

.swiper-home-page {
  .swiper-wrapper {
    @media (max-width: 1200px) {
    }
    @media (min-width: 1200px) {
      margin-top: 1rem;
    }

    width: 75vw;
  }
  .swiper-container {
    width: 75vw;
  }
  .swiper-slide {
  }
  /*   .swiper-button-prev {
    background-color: blue;
  }
  .swiper-button-next {
    background-color: blue;
  } */
}

.image_carousel {
  @media (max-width: 1200px) {
    width: 100%;
  }
  @media (min-width: 1200px) {
    width: 80vw;
    height: 600px;
  }
}

.carousel_info {
  @media screen and (max-width: 500px) {
    font-size: 0.7rem;
    left: 10%;

    a {
      padding: 0.5rem 1rem;
      font-size: 0.5rem;
    }
  }

  @media (max-width: 750px) and (min-width: 500px) {
    font-size: 0.75rem;
    left: 10%;
    a {
      padding: 0.5rem 1rem;
    }
  }
  @media (max-width: 900px) and (min-width: 750px) {
    left: 15%;
    a {
      padding: 1rem 2rem;
    }
  }
  @media (min-width: 900px) {
    left: 20%;
    a {
      padding: 1rem 2rem;
    }
  }
  position: absolute;

  width: 20%;
  p {
    padding: 0.25rem 0;
  }
  a {
    display: inline-block;
    background: white;
    color: black;
    mix-blend-mode: difference;
  }

  p {
    color: white;
    mix-blend-mode: difference;
  }
}
