.cart_global_container {
  margin: auto;
  margin-top: 25px;
}

.cart_global_container > h1 {
  margin-left: 10%;
  font-size: 50px;
}
.cart_container {
  display: flex;
  margin-top: 25px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@media (min-width: 800px) {
  .products_container {
    min-width: 800px;
    flex: 0.7;
  }
  .product_container {
    justify-content: space-between;
  }
  .cart_global_container {
    width: 80%;
  }
}

@media (max-width: 800px) {
  .products_container {
    width: 100%;
    flex-direction: column;
  }
  .product_container {
    justify-content: flex-start;
    flex-direction: column;
  }
  .cart_global_container {
    width: 100%;
  }
  .product_name {
    padding: 1rem 0;
  }
  .product_price {
    margin: 1rem 0;
  }
  .select_quantity {
    margin: 2rem 0;
  }
  .select_qty_button {
    margin: 1rem 0;
  }

  .cart_global_container > h1 {
    text-align: center;
  }
  .empty_cart_container {
    width: 80%;
  }
}

.price_plus_quantity {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
}

.product_name {
  text-align: center;
  min-width: 300px;
}
.product_price > strong {
  min-width: 65px;
  text-align: center;
}

.product_container {
  display: flex;
  margin: 20px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0px;
}

.products_container > div > img {
  width: 150px;
}
.product_container > img {
  border: 1px solid grey;
  padding: 3px;
}

.product_container:not(:last-child) {
  border-bottom: 1px solid grey;
}

.cart_svg {
  max-width: 500px;
  height: auto;
  width: 100%;
  min-width: 300px;
}

.right_side_cart {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-top: 50px;
  min-width: 300px;
  background: white;
  padding: 1.5rem;
  border-radius: 25px;
  box-shadow: 0px 0px 33px -10px #000000;
  height: 100%;
}

.right_side_cart > p {
  text-align: center;
  padding: 20px 0px;
}

.right_side_cart > p:not(:last-of-type) {
  border-bottom: 1px solid grey;
}

.select_quantity {
  width: 80px;

  margin: 0 15px;
}

.empty_cart_container {
  font-weight: 700;
}
.empty_cart_container > div {
  margin-bottom: 1rem;
}
.empty_cart_container > div > a {
  color: rgb(99, 99, 99);
}

/* button */

.select_qty_button {
  padding: 15px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, #191654, #43c6ac);
  background: -webkit-linear-gradient(to right, #191654, #43c6ac);
  color: white;
  font-size: 15px;
  cursor: pointer;
  background-size: 200%;
  background-position: left;
}

.select_qty_button:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-image: linear-gradient(to right, #191654, #43c6ac);
  background-position: right;
  animation: bg-animation 1.5s;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
