.category_page_container {
  display: flex;
  width: 60%;
  margin: 1rem auto;
  position: relative;
  & > * {
    flex-basis: 100%;
  }
  .sidebar_category_page {
    flex: 1 1 20%;
    border: 1px solid #eaeaea;
    padding: 1em;
  }
  .main_content_category_page {
    flex: 1 1 80%;
  }
  .content_category_page {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: center;
    padding: 1rem 0;
    margin-left: 1rem;
  }
  .category_option_container {
    padding: 1rem;
    height: 30px;
    border: 1px solid #eaeaea;
    margin-left: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
