.sign_up_screen_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 400px;
  margin: auto;
  margin-top: 50px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
  padding: 25px;
}

@media (min-width: 500px) {
  .sign_up_screen_container {
    width: 400px;
  }
}
@media (max-width: 500px) {
  .sign_up_screen_container {
    width: 350px;
  }
}

.form_sign_up {
  width: 85%;
  height: 400px;
}

.input_sign_up_container {
  padding: 20px 0px;
  width: 100%;
}

.submit_sign_up_button {
  padding: 15px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, #191654, #43c6ac);
  background: -webkit-linear-gradient(to right, #191654, #43c6ac);
  color: white;
  font-size: 15px;
  background-size: 200%;
  background-position: left;
  cursor: pointer;
}

.submit_sign_up_button:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-image: linear-gradient(to right, #191654, #43c6ac);
  background-position: right;
  animation: bg-animation 1.5s;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
