.swiper-container {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
